{{define "expTopo"}}
{{template "head" .}}

<h1>Topology - Experiment</h1>

    {{ if (len .Error) }}
    <div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only"></span>
  Error:{{ .Error }}
    </div>
{{end}}

<form action="#" method="post">
  <div class="form-group">
    <table>
      <tr><td>
    <label for="topoArea">Topology Experiments (yaml) <a href="/examples/topodef.yaml" target="_blank">example</a></label>
    {{ if (len .ErrTopo) }}
    <div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only"></span>
  Error:{{ .ErrTopo }}
    </div>
    {{ end }}    
    <textarea class="form-control" cols="80" rows="25" id="topoArea" name="topoArea">{{.Topo}}</textarea>
    </td>
    <td>&nbsp;&nbsp;</td>
    <td>
  <label for="envArea">Environment Experiments (yaml) <a href="/examples/topoenv.yaml" target="_blank">example</a></label>
    {{ if (len .ErrEnv) }}
    <div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only"></span>
  Error:{{ .ErrEnv }}
    </div>
    {{ end }}
    <textarea class="form-control" cols="40" rows="25" id="envArea" name="envArea">{{.Env}}</textarea>
  </div>
  </td></tr>
  <tr><td>&nbsp;</td></tr>
    <tr><td>  <button type="submit" class="btn btn-primary">Submit</button> </td></tr>
    </table>
</form>

{{ if (and (len (imgExpTopo .User)) (len .Topo))}}
<h1>Definition</h1>
<a href='/data/{{.User}}/experiment/topodef.yaml'>topodef.yaml</a><br>
<a href='/data/{{.User}}/experiment/topoenv.yaml'>topoenv.yaml</a><br>
<h1>Instances</h1>
<a href='/data/{{.User}}/experiment/topo.yaml'>topo.yaml</a><br>
<br>
<img src="{{ (imgExpTopo .User) }}">

{{ if (len (listDatacenter .User))}}
<h1>Push to Datacenter(s)</h1>
<form action="/experiment/topopush" method="post">
  <div class="form-group">
    <textarea style="display:none" name="topoToPush">{{.Topo}}</textarea>
    <textarea style="display:none" name="envToPush">{{.Env}}</textarea>
    <label for="datacenterselection">Datacenters</label>
    <div class="form-group" id="datacenterselection">
    {{ range (listDatacenter .User) }}
    <div class="checkbox">
    <label>
      <input type="checkbox" name="datacenters" value="{{.}}">{{.}}</input>
    </label>
    </div>
    {{ end }}    
  </div>
  <button type="submit" class="btn btn-primary">Push</button>
</form>
{{ end }}

{{ end }}
{{template "foot" .}}
{{end}}