{{define "topoDC"}}
{{template "head" .}}
{{ if .Version }}<h1>Datacenter {{ .DatacenterName}} - v{{.Version}}</h1>{{ else }}<h1>Datacenter {{ .DatacenterName}}</h1>{{end}}
 <hr>
{{ if .Versions}}
<h1>Versions</h1>
{{$p := (print "/datacenter/" .DatacenterName)}}{{range .Versions}}<a class="btn btn-default" href="{{$p}}?v={{.}}">{{.}}</a>{{end}}
{{ end }}

{{$imgpath := (ImgPath .User .DatacenterName .Version) }}
{{ if (and $imgpath (len .Version ))}}
<h1>Topology</h1>
<img src="{{ $imgpath }}">
<h1>Definition</h1>
<a href='/data/{{.User}}/dc/{{.DatacenterName}}/v{{.Version}}/topodef.yaml'>topodef.yaml</a><br>
<a href='/data/{{.User}}/dc/{{.DatacenterName}}/v{{.Version}}/topoenv.yaml'>topoenv.yaml</a><br>
<h1>Instances</h1>
<a href='/data/{{.User}}/dc/{{.DatacenterName}}/v{{.Version}}/topo.yaml'>topo.yaml</a><br>
<h1>Delete</h1>
<button onclick="location.href='/deletedatacenter/{{.DatacenterName}}/v{{.Version}}';" type="button" class="btn btn-danger">delete version {{.Version}}</button>
{{ end }}

{{ if and .Versions (gt (len .Versions) 1)}}
<h1>Diff</h1>
<form action="#" method="post">
<div class="form-group">
<label for="current_version">Running Version</label>
<input type="text" name="current_version" id="current_version" value="{{ lastVersionDC .User .DatacenterName }}" size="5"/>
<label for="proposed_version">Proposed Version</label> 
<input type="text" name="proposed_version" id="proposed_version" value="{{ lastVersionDC .User .DatacenterName }}" size="5"/>
<button type="submit" class="btn btn-primary">View Diff</button>
</div>
</form>
{{ if len .DiffReport }}
{{ range .DiffReport}}
{{.}}<br>
{{ end }}
{{ end }}

{{ end }}

<h1>Upload new topology</h1>
<form action="/uploadTopo/datacenter/{{.DatacenterName}}" method="post" enctype="multipart/form-data">
  <div class="form-group">
     <input type="hidden" name="user" value="{{.User}}">
     <input type="hidden" name="datacenterName" value="{{.DatacenterName}}">
    <label for="file">Topology File</label>
    <input type="file" class="form-control" name="file" id="file">
    <label for="file">Environment File</label>
    <input type="file" class="form-control" name="envfile" id="envfile">
  </div>
  <button type="submit" class="btn btn-primary">Upload</button>
</form>

{{template "foot" .}}
{{end}}